<!DOCTYPE html>
<html data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Wallpapers</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../static/assets/css/pikaday.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top portfolio-navbar gradient navbar-dark">
        <div class="container"><a class="navbar-brand logo" href="/">Wallpapers</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">TBD</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>Add Wallpaper</h2>
                </div>
            </div>
            <div id="upload-success-message" class="alert alert-success" role="alert" style="display: none;">
            </div>
                <form method="POST" id="walluploadform" action="/Wallpapers/api/upload" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                       <label for="category" class="form-label">Category</label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="">Select a category</option>
                            <option value="Nature">Nature</option>
                            <option value="Cities">Cities</option>
                            <option value="Abstract">Abstract</option>
                            <option value="Technology">Technology</option>
                            <option value="Animals">Animals</option>
                            <option value="Animals">Cities and Architecture</option>
                            <option value="Animals">Sports</option>
                            <option value="Animals">Automobile</option>
                            <option value="Animals">Celebrities</option>
                            <option value="Animals">Travel and World</option>
                            <option value="Animals">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Wallpaper Image</label>
                        <input type="file" class="form-control" id="image" name="image" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer py-3 border-top">
        <!-- Footer Content -->
    </footer>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/pikaday.min.js"></script>
    <script src="../static/assets/js/theme.js"></script>
    <script src="../static/assets/js/upload.js"></script>
</body>
</html>
